:host{
  display: contents;
}

.character {
  aspect-ratio: 1 / 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: .2rem;
  background: #ededed;
}

.character.correct {
  background: #d6ebc8;
}

.character.absent {
  background: #ebc8c8;
}

.character.present {
  background: #b9caff;
}
