.leaderboard{
    display: grid;
    grid-template-columns: auto auto auto auto;
    align-items: center;
    justify-content: center;
    row-gap: 1rem;
    column-gap: 1rem;
}

.rank {
    display: contents;
}

.rank .place {
    font-size: 1.2em;
    opacity: .9;
}

.rank .username {
    display: flex;
    align-items: center;
    font-weight: bold;
}

.rank .username:before {
    content: "👤";
    padding-right: .5rem;
}

.rank :is(.streak, .average) {
    opacity: .9;
    font-style: italic;
}
