#app {
  background: white;
  backdrop-filter: blur(20px);
  width: 50rem;
  height: 30rem;
  padding: 1rem;
  border-radius: .5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}
