body {
  background: #ededed;
  display: grid;
  place-items: center;
  margin-top: 10rem;
}

h1, h2 {
  margin: 0;
}

nav {
  display: flex;
  gap: 2rem;
}

main {
  flex-grow: 1;
  padding: 1rem 0;
}

footer {
  opacity: .8;
  font-style: italic;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
